@import "tailwindcss";

body {
    margin: 0;
    font-family: Inter;
    overflow: hidden;
}
.element {
    .input,
    .output {
        height: 100%;
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        top: 0;
        gap: 1px;
    }
    .input {
        left: 0;
        transform: translatex(-50%);
    }
    .output {
        right: 0;
        transform: translatex(50%);
    }
}

.react-panzoom > div {
    background-image: url("assets/grid.svg");
    background-repeat: repeat;
    background-size: 30px;
}
